<!--
 * @Descripttion: vue前端项目
 * @version: 1.0.0
 * @Author: Baishaodong
 * @Date: 2022-01-25 22:38:00
 * @LastEditors: Baishaodong
 * @LastEditTime: 2022-01-25 22:50:44
 * @BlogSite: https://www.xiaobaibk.com
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}-文章列表</title>
  </head>
  <body>
    {{template "header"}}
    <br />
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{.Title}}</h1>
          {{.Content}}
        </div>
      </div>
    </div>
  </body>
</html>
