<!--
 * @Descripttion: vue前端项目
 * @version: 1.0.0
 * @Author: Baishaodong
 * @Date: 2022-01-25 20:17:26
 * @LastEditors: Baishaodong
 * @LastEditTime: 2022-01-25 21:01:01
 * @BlogSite: https://www.xiaobaibk.com
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>注册页面</title>
  </head>
  <body>
    {{template "header"}}
    <br />
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form method="post" action="/register">
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label"
                >用户名</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  name="username"
                  class="form-control"
                  id="inputEmail3"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label"
                >用户密码</label
              >
              <div class="col-sm-10">
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="inputPassword3"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword1" class="col-sm-2 col-form-label"
                >确认密码</label
              >
              <div class="col-sm-10">
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="inputPassword1"
                />
              </div>
            </div>
            <button type="submit" class="btn btn-primary">注册</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
